:root{
    --purple-500: rgba(10, 2, 49, 1);
    --purple-300: rgba(73, 65, 108, 1);

    --white-100:rgb(255, 255, 255);

    --gray--200:#7a7b7e;
}

* {
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, p, li {
    color: var(--white-100);
    text-align: start;
}

h1, h2 {
    font-family: "BioRhyme", sans-serif, Arial;
    font-weight: normal;
}
h1 {
    font-size: 3rem;
}
h2, #home-link {
    font-size: 1.5rem;
}

h3, a, p, li {
    font-family: "JosefinSlab", sans-serif, Arial;
    font-style: normal;
}
h3 {
    font-style: italic;
    font-size: 1.5rem;
}
a, p, li, .text-p > h3 {
    font-size: 1.3rem;
    text-decoration: none;
}


@font-face {
    font-family: "BioRhyme";
    font-style: normal;
    font-weight: 300;
    src: url(./fonts/BioRhyme/BioRhyme-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "BioRhyme";
    font-style: light;
    font-weight: 300;
    src: url(./fonts/BioRhyme/BioRhyme-Light.ttf) format("truetype");
}
@font-face {
    font-family: "BioRhyme";
    font-style: bold;
    font-weight: 300;
    src: url(./fonts/BioRhyme/BioRhyme-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "JosefinSlab";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Josefin_Slab/JosefinSlab-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "JosefinSlab";
    font-style: italic;
    font-weight: 400;
    src: url(./fonts/Josefin_Slab/JosefinSlab-Italic.ttf) format("truetype");
}
@font-face {
    font-family: "JosefinSlab";
    font-style: bold;
    font-weight: 400;
    src: url(./fonts/Josefin_Slab/JosefinSlab-Bold.ttf) format("truetype");
}