@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf) format("truetype");
}

main{
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--green-100);
}

h1 {
    font-family: "Signika", sans-serif, Arial;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
}

h3 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif, Arial;
}

form > h3 {
    text-align: center;
}

p{
    padding: 5rem 5rem 5rem 5rem;
    font-family: "RobotoSlab", sans-serif, Arial;
}

.proj-text{
    padding: 1rem 1rem 1rem 1rem;
}

.project-menu{
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: medium;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

details, figcaption {
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: medium;
    text-align: start;
}

table,td, tr {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 5vw 5vh 5vw 3vh;
}
table, th{
    padding-top: 1vw;
}

td {
    width: 60vw;
}

th{
    border-collapse: collapse;
    padding: 0 0 0 0;
}

#project-1-text{
    border-top-left-radius: 0.5rem;
    width: 30vw;
}

#project-1-img{
    border-top-right-radius: 0.5rem;
}

#project-2-text{
    border-bottom-left-radius: 0.5rem;
    width: 30vw;
}

#project-2-vid{
    border-bottom-right-radius: 0.5rem;
}

figure, .project-img, source, video {
    min-width: 5%;
    max-width: 60%;
    border-radius: 0.5rem;
}

#project-img{
    padding-left: 2vw;
}

select, #curr-proj-button > input{
    background-color: var(--green-100);
    color:white;
    border: none;
    width: 10vw;
    height: 3vw;
    font-family: "Roboto", sans-serif, Arial;
    text-align: start;
    border-radius: 0.2rem;
    margin: 1vw 2vh 1vw 2vh;
}

label {
    padding: 2rem 2rem 2rem 2rem;
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: large;
    text-align: start;
}